*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    min-height:100vh;
    width: 100%;
    background-color: #875848;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-container{
    background: #82C686;
    border-radius: 20px;
    padding: 25px 20px;
    width: 90%;
    max-width: 420px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.heading{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}


.input{
    display: flex;
    gap: 10px;
}


.length{
    outline: none;
    border: 1px solid white;
    border-radius: 12px;
    height: 32px;
    width: 100px;
    text-align: center;
    padding: 5px;
}


.btn{
    min-width: 90px;
    height: 32px;
    border-radius: 15px;
    border: none;
    background-color: #875848;
    color: white;
    font-size: 14px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}


.password{
    background-color: #fff;
    min-height: 45px;
    width: 100%;
    border-radius: 12px;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 14px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}


@media (max-width: 500px) {
    .input{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .length,
    .btn{
        width: 100%;
    }
}
