*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    width: 100vw;
    background-color: #875848;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    height:200px;
    width: 500px;
    background: #82C686;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}
.heading{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    color: #fff;
}
.password{
    background-color: #fff;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.length{
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    height: 20px;
    text-align: center;

}
.btn{
    height: 20px;
    width: 50px;
    border-radius: 10px;
    

}